.ftpFormRoot{
    /*background-image: linear-gradient(*/
    /*to right bottom,*/
    /*#090040 1%,*/
    /*rgba(9, 0, 64, 0.51) 60%*/
    /*);*/
    
    background-image: linear-gradient(to right bottom, #09004000 1%, rgb(9 0 64 / 52%) 60%);
    padding: 10%;
}

.ftpFormContainer{ background-color: #dee2e69c !important; }

.btn-close:hover {
    color: red !important;
}

.fileIcon > i {
    font-size: xxx-large !important;
    color: #5b2c87;
}

.fileText > .i:nth-child(1) {
    color: #7f7a9c;
    font-size: 23px;
    font-weight: 800;
}

.fileText > .i:nth-child(2) {
    color: #3f3f89;
    font-size: 12px;
}

.uploadForm {
    background-color: #00000087;
    transition: background 0.3s;
    /* color: #00000075;
    border-radius: 11px;
    margin-top: 20px !important; */
}

.dragover {
    background-color: #0000004d;
}

.smallFIileIcon > i, .lbSmall {
    color: #a7a7a7;
}


div.preview {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    gap: 15px;
}
.file-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    word-break: break-word;
}
.file-item img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.progress {
    height: 20px !important;
}
.progress-bar {
    background-color: gray;
    color: white;
}

.btn-close{
    padding: 12px !important;
}

/* -----  Footer Styling Section ----- */
.contactsContainer {
    background-color: rgb(63 101 79);
}

.smallIconPinterest:hover{color: red; transform: scale(1.5,1.5);}
.smallIconWhatsapp:hover{color: green; transform: scale(1.5,1.5);}
.smallIconLinkedin:hover{color: #0056ab; transform: scale(1.5,1.5);}

.contactsIcon > a > i{
    color: white;
    transition: all 0.5s ease;
}